<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<div id="app">
  <h3>Selecciona un programa: {{selectedMajor}}</h3>
  <ul style='text-transform:uppercase'>
    <li name='carrera' v-for='major in majors' @click='getCourses(major)'>{{major}}</li>
  </ul>
  <h3>Selecciona una materia: {{selectedCourse.codigo}} {{ selectedCourse.nombre}}</h3>
  <div style="height:40%;width:20rem;overflow-y:scroll; background-color:grey">
    <p id='clases' v-for='course in courses' @click='getFile(course)'>{{course.nombre}}</p>
  </div>
  <ul>
  <li v-for='file in files'>
    <a   :href='file.link'>{{file.titulo}}</a>
  </li>
  </ul>
  <input id='inputfile' type='file'>
  <button @click='sendFile()'></button>
  <p  id='responseitem'></p>
</div>


<script>



var app = new Vue({
  el: '#app',
  data: {
    majors: [
      'admi',
      'arqu',
      'biol',
      'dere',
      'dise',
      'econ',
      'fisi',
      'icya',
      'mate',
      'medi',
      'psic',
      'quim',
      'isis',
      'iind'
    ],
    courses: [],
    files: [],
    selectedMajor: '',
    selectedCourse: {}
  },
  methods:{
    getFile: function(pCourse){
      this.selectedCourse = pCourse;
      document.getElementById('responseitem').innerHTML = 'Loading'
      axios.get('archivo/'+ pCourse.codigo)
      .then(data => {
        if(data.data.length > 0 ){
          this.files = data.data
        }
        else{
          document.getElementById('responseitem').innerHTML = 'No hay archivos 😟 sube uno!'
        }
      })
      .catch(err => console.log(err))
    },
    getCourses: function(pMajor){
      this.selectedMajor = pMajor
      this.selectedCourse = {}
      this.courses = []
      axios.get('clases/'+ pMajor)
      .then(data => this.courses = data.data)
    },
    sendFile: function(){
      const newFile = document.getElementById('inputfile').files[0]
      var fileData = new FormData();
      fileData.append('file', newFile, newFile.name)
      axios.post('https://anonfile.com/api/upload', fileData).then((data)=>{
        const obj ={
          'link': data.data.data.file.url.short,
          'titulo': newFile.name,
          'clase': this.selectedCourse.codigo
        }
        const objToPost = window.btoa(JSON.stringify(obj))
        console.log(objToPost)
        axios.post('archivo/' + objToPost).then((data)=> console.log(data))
      })
    }
  }
})




</script>
